<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="especialidad">
            <h2><span jhiTranslate="quileiaJavaWebApp.especialidad.detail.title">Especialidad</span> {{ especialidad.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="quileiaJavaWebApp.especialidad.nombreEspecialidad">Nombre Especialidad</span></dt>
                <dd>
                    <span>{{ especialidad.nombreEspecialidad }}</span>
                </dd>
                <dt><span jhiTranslate="quileiaJavaWebApp.especialidad.estadoTipoDocumento">Estado Tipo Documento</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'quileiaJavaWebApp.Estado.' + especialidad.estadoTipoDocumento }}">{{ especialidad.estadoTipoDocumento }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/especialidad', especialidad.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
