<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-tipo-documento-heading" jhiTranslate="quileiaJavaWebApp.tipoDocumento.home.createOrEditLabel">Create or edit a Tipo Documento</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="quileiaJavaWebApp.tipoDocumento.iniciales" for="field_iniciales">Iniciales</label>
                    <input type="text" class="form-control" name="iniciales" id="field_iniciales"
                           formControlName="iniciales"/>
                    <div *ngIf="editForm.get('iniciales')!.invalid && (editForm.get('iniciales')!.dirty || editForm.get('iniciales')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('iniciales')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('iniciales')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="quileiaJavaWebApp.tipoDocumento.nombreDocumento" for="field_nombreDocumento">Nombre Documento</label>
                    <input type="text" class="form-control" name="nombreDocumento" id="field_nombreDocumento"
                           formControlName="nombreDocumento"/>
                    <div *ngIf="editForm.get('nombreDocumento')!.invalid && (editForm.get('nombreDocumento')!.dirty || editForm.get('nombreDocumento')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombreDocumento')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombreDocumento')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="quileiaJavaWebApp.tipoDocumento.estadoTipoDocumento" for="field_estadoTipoDocumento">Estado Tipo Documento</label>
                    <select class="form-control" name="estadoTipoDocumento" formControlName="estadoTipoDocumento" id="field_estadoTipoDocumento">
                        <option value="ACTIVO">{{ 'quileiaJavaWebApp.Estado.ACTIVO' | translate }}</option>
                        <option value="INACTIVO">{{ 'quileiaJavaWebApp.Estado.INACTIVO' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('estadoTipoDocumento')!.invalid && (editForm.get('estadoTipoDocumento')!.dirty || editForm.get('estadoTipoDocumento')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('estadoTipoDocumento')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
