<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tipoDocumento">
            <h2><span jhiTranslate="quileiaJavaWebApp.tipoDocumento.detail.title">Tipo Documento</span> {{ tipoDocumento.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="quileiaJavaWebApp.tipoDocumento.iniciales">Iniciales</span></dt>
                <dd>
                    <span>{{ tipoDocumento.iniciales }}</span>
                </dd>
                <dt><span jhiTranslate="quileiaJavaWebApp.tipoDocumento.nombreDocumento">Nombre Documento</span></dt>
                <dd>
                    <span>{{ tipoDocumento.nombreDocumento }}</span>
                </dd>
                <dt><span jhiTranslate="quileiaJavaWebApp.tipoDocumento.estadoTipoDocumento">Estado Tipo Documento</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'quileiaJavaWebApp.Estado.' + tipoDocumento.estadoTipoDocumento }}">{{ tipoDocumento.estadoTipoDocumento }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tipo-documento', tipoDocumento.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
