<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="franjaHoraria">
            <h2><span jhiTranslate="quileiaJavaWebApp.franjaHoraria.detail.title">Franja Horaria</span> {{ franjaHoraria.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="quileiaJavaWebApp.franjaHoraria.franja">Franja</span></dt>
                <dd>
                    <span>{{ franjaHoraria.franja }}</span>
                </dd>
                <dt><span jhiTranslate="quileiaJavaWebApp.franjaHoraria.estadoFranjaHoraria">Estado Franja Horaria</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'quileiaJavaWebApp.Estado.' + franjaHoraria.estadoFranjaHoraria }}">{{ franjaHoraria.estadoFranjaHoraria }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/franja-horaria', franjaHoraria.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
