<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-franja-horaria-heading" jhiTranslate="quileiaJavaWebApp.franjaHoraria.home.createOrEditLabel">Create or edit a Franja Horaria</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="quileiaJavaWebApp.franjaHoraria.franja" for="field_franja">Franja</label>
                    <input type="text" class="form-control" name="franja" id="field_franja"
                           formControlName="franja"/>
                    <div *ngIf="editForm.get('franja')!.invalid && (editForm.get('franja')!.dirty || editForm.get('franja')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('franja')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('franja')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 30 }">
                        This field cannot be longer than 30 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="quileiaJavaWebApp.franjaHoraria.estadoFranjaHoraria" for="field_estadoFranjaHoraria">Estado Franja Horaria</label>
                    <select class="form-control" name="estadoFranjaHoraria" formControlName="estadoFranjaHoraria" id="field_estadoFranjaHoraria">
                        <option value="ACTIVO">{{ 'quileiaJavaWebApp.Estado.ACTIVO' | translate }}</option>
                        <option value="INACTIVO">{{ 'quileiaJavaWebApp.Estado.INACTIVO' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('estadoFranjaHoraria')!.invalid && (editForm.get('estadoFranjaHoraria')!.dirty || editForm.get('estadoFranjaHoraria')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('estadoFranjaHoraria')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
