<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="paciente">
            <h2><span jhiTranslate="quileiaJavaWebApp.paciente.detail.title">Paciente</span> {{ paciente.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="quileiaJavaWebApp.paciente.nombreCompleto">Nombre Completo</span></dt>
                <dd>
                    <span>{{ paciente.nombreCompleto }}</span>
                </dd>
                <dt><span jhiTranslate="quileiaJavaWebApp.paciente.fechaNacimiento">Fecha Nacimiento</span></dt>
                <dd>
                    <span>{{ paciente.fechaNacimiento | date:'mediumDate' }}</span>
                </dd>
                <dt><span jhiTranslate="quileiaJavaWebApp.paciente.identificacion">Identificacion</span></dt>
                <dd>
                    <span>{{ paciente.identificacion }}</span>
                </dd>
                <dt><span jhiTranslate="quileiaJavaWebApp.paciente.eps">Eps</span></dt>
                <dd>
                    <span>{{ paciente.eps }}</span>
                </dd>
                <dt><span jhiTranslate="quileiaJavaWebApp.paciente.historiaClinica">Historia Clinica</span></dt>
                <dd>
                    <span>{{ paciente.historiaClinica }}</span>
                </dd>
                <dt><span jhiTranslate="quileiaJavaWebApp.paciente.tipoDocumento">Tipo Documento</span></dt>
                <dd>
                    <div *ngIf="paciente.tipoDocumentoId">
                        <a [routerLink]="['/tipo-documento', paciente.tipoDocumentoId, 'view']">{{ paciente.tipoDocumentoNombreDocumento }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/paciente', paciente.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
